@import url(https://fonts.googleapis.com/css?family=Exo:100,300);
body {
    background-color: #005895;
    color: #fff;
    font-family: Exo;
}
h1 {
    font-size: 300%;
    margin-top: -1rem;
    font-weight: 100;
}

.settings table {
    width: 40%;
    margin-left: 2em;
}

.container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

header{
    top: 0px;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 200%;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 4px;
    font-size: 60%;
}
