@import url('https://fonts.googleapis.com/css?family=Exo:300,400');
body {
    background-color: #005895;
    color: #fff;
    font-family: Exo;
    font-weight: 100;
}
h1 {
    font-size: 300%;
    margin-top: -1rem;
    font-weight: 100;
}

.channels p {
    display: inline;
    margin-right: 0.25em;
}

.header {
    margin-top: 3em;
}

thead {
    font-weight: 400;
}

left {
    float: left;
}

right {
    float: right;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 4px;
    font-size: 60%;
}
