@import url('https://fonts.googleapis.com/css?family=Exo:300,400');
body {
    background-color: #005895;
    color: #fff;
    font-family: Exo;
    font-weight: 100;
}

input[type="button"] {
    color: #fff;
}

input[type="text"] {
    color: #000;
    margin-left: 1em;
}

.container {
    text-align: center;
}
