<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <meta charset="UTF-8">
    <title>MacDJ</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
      <div class="overlay">
          <div class="center">
              Loading...
          </div>
      </div>
    <div ng-controller="MainController as main" class="container">
        <div class="row">
            <div class="eleven column header">
                <left><h2>MacDJ</h2></left>
                <right><h3>Connected as: {{bot.username}}</h3></right>
            </div>
        </div>
        <hr>
        <div class="row settings">
            <div class="two column"><h4>Settings</h4></div>
            <div class="eleven column">
                <table class="u-full-width">
                    <thead>
                        <th>Setting</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="setting in settings">
                            <td>{{setting.key}}</td>
                            <td><p ng-bind-html="trustAsHtml(setting.value)"></p>{{setting.format}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </hr>
        <div class="row channels">
            <div class="two column"><h4>Servers</h4></div>
            <div class="eleven column">
                <table class="u-full-width">
                    <tbody>
                        <tr ng-repeat="server in servers">
                            <td>
                                <h5>{{server.name}}</h5>
                                <table>
                                    <thead>
                                        <th>Channel</th>
                                        <th>Volume</th>
                                        <th>Playing</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="channel in server.voiceChannels">
                                            <td>{{channel.name}}</td>
                                            <td>
                                                <input type="range" id="volume_{{channel.id}}" ng-model="channel.volume"></input>
                                                {{channel.volume}}%
                                            </td>
                                            <td>
                                                <p>{{channel.playing.active}}</p>
                                                <p ng-if="channel.playing.active">({{channel.playing.name}})</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>window.$ = window.jQuery = require('./js/jquery.min.js');</script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/scrollglue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
